header{
    background: #2e354f;
    padding: 45px 0;
    color: #fff;
}
body{
    background-image: url("Rosemaling.jpg");
    background-repeat : repeat-x;
    background-position: 60%,120%;
}
h1{
    color:white;

}
p{
    color:white;
    
}